html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
}

body {
    background-color: #e6dfad;
    margin: 0;
}

.home .content-wrapper{
    flex: 1 0 auto;
}

.header {
    color: #171064;
    text-align: center;
}

.top-bar{
    width: 100%;
    background-color: #3c6d33;
    color: #29245b;
    text-align: center;
    padding: 5px;
}

.home{
    display: flex;
    flex-direction: column;
}

/* start funeral specific stuff*/
.grid-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.butterfly{
    padding: 10px;
    max-width: 30%;
}

.large-text{
    font-family: 'Candara', Helvetica, 'Times New Roman', Times, serif;
    font-weight: 600;
    text-align: center;
    color: #29245b;
}

.content{
    margin: 0 25px;
}

/* end funeral specific stuff*/
.footer{
    width: 100%;
    background: #3c6d33;
    color: #29245b;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer span{
    margin: 5px;
    font-weight:600;
}

.footer span a{
    text-decoration: none;
    color: #29245b;
}

.basic-font{
    font-family: 'Candara', Helvetica, 'Times New Roman', Times, serif;
    font-weight: 400;
    color: #181069;
}

.fancy-font {
    font-family: 'Tahoma', 'Candara', Helvetica, 'Times New Roman', Times, serif;
    font-weight: 600;
}