html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
}

body {
    background-color: #63615d;
    margin: 0;
}

header {
    color: #1f1583;
    text-align: center;
}

.top-bar{
    width: 100%;
    background-color: #f6e353;
    color: #30a31c;
    text-align: center;
}

.nav-list{
    list-style-type: none;
    padding: 0;
}

.nav-list li{
    display: inline-block;
}

.nav-list li a{
    text-decoration: none;
}

.nav-list div{
    background: #f6e353;
    color: #30a31c;
    padding: 20px;
}

.butterfly-trifecta {
    position: relative;
}

.cocoon {
    position: absolute;
    right: 7.5%;
}

.caterpillar {
    position: absolute;
    right: 38.5%;
}

.butterfly {
    position: absolute;
    right: 68.5%;
}

.butterfly-trifecta img{
    max-width:25%;
    height:auto;
}

.main-menu {
    text-align: center;
}