html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body {
    background-color: #63615d;
}

header {
    color: #1f1583;
    text-align: center;
}

.top-bar{
    width: 100%;
    background-color: #f6e353;
    color: #30a31c;
    text-align: center;
}

.nav-list{
    list-style-type: none;
    padding: 0;
}

.nav-list li{
    display: inline-block;
}

.nav-list div{
    background: #f6e353;
    color: #30a31c;
}