html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #63615d;
}

header {
    color: #1f1583;
    text-align: center;
}

.top-bar{
    width: 100%;
    background-color: #f6e353;
    color: #30a31c;
    text-align: center;
    position: fixed;
}

.nav-list{
    list-style-type: none;
    padding: 0;
}

.nav-list li{
    display: inline-block;
}

.nav-list li a{
    text-decoration: none;
}

.nav-list div{
    background: #f6e353;
    color: #30a31c;
    padding: 20px;
}

.butterfly-trifecta img{
    max-width:25%;
    height:auto;
}

.main-menu {
    text-align: center;
}